<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>TikiAnalysis</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/lannister_115487.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <!-- Bootstrap Fremwork Main Css -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- All Plugins css -->
    <link rel="stylesheet" href="/static/css/plugins.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="/static/css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="/static/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="/static/css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="/static/css/custom.css">

    <!-- Modernizr JS -->
    <script src="/static/js/vendor/modernizr-2.8.3.min.js"></script>
  </head>

  <body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Follow on Twitter</a></li>
                <li><a href="#" class="text-white">Like on Facebook</a></li>
                <li><a href="#" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>TiKiPostGreSQL</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Tiki PostGreSQL and Analysis</h1>
          <p class="lead text-muted">Enter /product/getid/[id] to display product by ID.</p>
          <p class="lead text-muted">Enter /product/getseller/[seller] to display product by seller.</p>
          <p class="lead text-muted">Enter /product/getcategory/[categoryid] to display product by category.</p>
          <p class="lead text-muted">Enter /category/getid/[id] to display category by id.</p>
          <p>
            <a href="/presentation" class="btn btn-primary my-2">TiKi Analysis slides</a>
            <a href="/" class="btn btn-secondary my-2">Refresh</a>
          </p>
        </div>
      </section>
       <!-- Start Slider Area -->
    <!-- Start Our Product Area -->
    <section class="htc__product__area ptb--130 bg__white">
        <div class="container">
            <div class="htc__product__container">
                <!-- Start Product MEnu -->
                <!-- <div class="row">
                        <div class="col-md-12">
                            <div class="product__menu">
                                <button data-filter="*" class="is-checked">All</button>
                                <button data-filter=".cat--1">Mobile phones</button>
                            </div>
                        </div>
                    </div> -->
                    <!-- End Product MEnu -->
                <div class="row product__list">
                    <!-- Start Single Product -->
                    {% for product in products %}
                    <div class="col-md-3 single__pro col-lg-3 col-md-4 cat--1 col-sm-12">
                        <div class="product foo">
                            <div class="product__inner">
                                <div class="pro__thumb">
                                    <a href="#">
                                        <img src={{product['image']}} alt="product">
                                    </a>
                                </div>
                                <div class="product__hover__info">
                                    <ul class="product__action">
                                        <li><a data-toggle="modal" data-target="#productModal" title="Quick View"
                                               class="quick-view modal-view detail-link" href="#"><span
                                            class="ti-plus"></span></a></li>
                                        <li><a title="Add TO Cart" href="cart.html"><span
                                            class="ti-shopping-cart"></span></a></li>
                                    </ul>
                                </div>
                                <div class="add__to__wishlist">
                                    <a data-toggle="tooltip" title="Add To Wishlist" class="add-to-cart"
                                       href="wishlist.html"><span class="ti-heart"></span></a>
                                </div>
                            </div>
                            <div class="product__details">

                                <h2><a href={{product['productlink']}}>{{product['title']}}</a></h2>

                                <ul class="product__price">
                                    <li class="old__price">&#8363; {{'{:0,.0f}'.format(product['rprice']) }}</li>
                                    <li class="new__price">&#8363; {{'{:0,.0f}'.format(product['fprice']) }}</li>


                                </ul>
                                <ul class="product__discount">
                                    Discount: {{product['discount']}} %
                                </ul>
                                <ul class="product__seller">
                                    Seller: {{product['seller']}}
                                </ul>
                                <ul class="product__cat">
                                    Main Category: {{product['category']}}
                                </ul>
                                <ul class="product__subcat">
                                    Category: {{product['subcategory']}}
                                </ul>
                                <ul class="product__stars">
                                    Stars: {{product['rating']}} %
                                </ul>
                                <ul class="product__comment">
                                    Reviews: {{ '{:0,.0f}'.format(product['numreviews']) }}
                                </ul>
                                <ul class="product__tikinow">
                                    TIKINOW: {{ 'Yes' if product['tikinow'] else 'No' }}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
  </body>
</html>
